@import url(https://fonts.googleapis.com/css?family=Oswald|Inconsolata);

body {
  font-family: 'georgia', serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.issue-number {
  font-family: 'Inconsolata';
}

.imagen {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.imagen-col2 {
  padding-top: 10px;

  height: 150px;
  background-color: #000;
  color: #fff;
}



.issue-title-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.issue-title-text h1 {
  font-size: 6em;
  letter-spacing: 4px;
}

.article-text {
  font-size: 20px;
  line-height: 1.625;
  letter-spacing: 0.5px;
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8em;
  padding-bottom: 4em;
  text-align: justify;
}

.article-text p {
  margin: 0 0 30px;
	padding: 0;
}

/* drop caps */

.article-text p:first-child:first-letter {
  float: left;
  font-size: 75px;
  line-height: 65px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 0px;
  font-family: Oswald;
}

.pullquote {
  text-align: left;
  border-left: 4px solid #ccc;
  color: #a5a4a4;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
  padding-left: 15px;
  font-size: 150%;
  position: relative;
  width: 70vw;
  left: calc(-35vw + 35%);
}

.img-full-screen-width {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  height: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
}

.img-paragraph-width {
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.related-content {
  text-align: center;
  margin-top: 0em;
  margin-bottom: 4em;
  font-family: 'Inconsolata';
}

.related-wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.related-content h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 1em;
  position: relative;
}

.related-content h1 span {
  background: #fff;
  padding: 0 35px;
  position: relative;
  z-index: 1;
}

.related-content h1::before {
  background: #000;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0%;
}

.related-square {
  font-size: 22px;
  float: left;
  width: 32%;
  height: 25.6vw;
  overflow-y: hidden;
}

.related-content .square-1 {
  background: #fff;
  margin-right: 2%;
}

.related-content .square-2 {
  background: #fff;
}

.related-content .square-3 {
  background: #fff;
  margin-left: 2%;
}

.related-img {
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.related-img img {
  flex-shrink:0;
  max-width: 150%;
  min-height: 100%;
  filter: brightness(50%) grayscale(100%);
  -webkit-filter: brightness(50%) grayscale(100%);
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}

.related-img img:hover {
  filter: brightness(80%) grayscale(100%);
  -webkit-filter: brightness(80%) grayscale(100%);
}

.related-img span:hover + img {
  filter: brightness(80%) grayscale(100%);
  -webkit-filter: brightness(80%) grayscale(100%);
}

.related-square span {
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.pie {
  line-height: 1.2;
  font-family: 'Inconsolata';
	text-align: center;
	padding-top: 10em;
	padding-bottom: 4em;
	background-color: #000;
	color: #fff;
}

.pie h1 {
  margin-bottom: 0.3em;
  font-size: 2em;
}

.pie p {
  margin: 0 0 40px;
}

input {
  padding: 30px;
  font-size: 1.2em;
  margin: 0;
  border: 0;
  font-family: 'Inconsolata';
}

.button {
  border: 0;
  margin-left: -10px;
  outline: none;
  padding: 30px;
  background: #47474f;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #333;
}

footer {
  line-height: 1.2;
  font-size: 12px;
  font-family: 'Inconsolata';
	text-align: center;
	padding-top: 8em;
	padding-bottom: 8em;
	background-color: #000;
	color: #fff;
}

.social-buttons a {
  font-size: 3em;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  text-decoration: none;
}

.logo-footer {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5em;
  color: #2a2a2a;
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}

.logo-footer:hover {
  color: #7e7e7e;
}
